*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    background-image: url("./imgs/mountains-universe-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    font-family: roboto;
    color: white;
}

nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
    margin: 4rem auto 4rem 7rem;
}

nav a{
    text-decoration: none;
    font-size:2.4rem ;
    font-weight: 400;
    line-height: 2.1rem;
    color: white;
}

.pageSelected{
    font-weight: 700;
    font-weight: bold;
}

.screen1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.screen2{
    padding: 18.5rem 0 0 10rem;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

button{
    margin-top: 5rem;
    width: 19rem;
    height: 4.8rem;
    font-size: 1.4rem;
    background: none;
    color: white;
    border-radius: 5px;
    border: 2px solid #FFF;
    font-weight: 700;
    line-height: 2.4rem;
    margin: 6rem 11rem;  
    
}

button:hover{
    border-radius: 5px;
    border: 2px solid #FFF;
    background: #FFF;
    color:#02799D;
}

h1{
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 125% 
}

p{
font-size: 1.8rem;
width: 64rem;
}

